@import "../../layout/styles/default_settings";

.root {
  flex-grow: 0.3;
  margin: 0 auto;
  width: auto;
  min-width: 10rem;
  overflow: inherit;
  background: $borderGray;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.header {
  color: $gray6;
  padding: 0 !important;
}
.headerTitle {
  font-size: 1rem !important;
}
.action {
  padding: 0.3rem 1rem;
  color: $white;
  font-size: 0.8rem;
  min-width: unset;
  text-transform: capitalize;
  background: $secondary;
  border-radius: 3px;
}
.headerShadow {
  box-shadow: 0 1.5rem 0.2rem -1.5rem rgba(0, 0, 0, 0.3);
}
