@import "../../layout/styles/default_settings";

.root {
  margin-top: 2rem;
}

.submit {
  margin-top: 1.5rem;
}

.input {
  font-size: 3rem;
  color: $primary;
}

.outline {
  // background-color: $white;
  border-radius: 0.3em;
}
