@import '../../../layout/styles/default_settings';

.root {
    display: flex;
    margin: 0 -2rem;
    padding-right: 1rem;
}
.formControl {
    margin: 4rem 0 0;
}
.formGroup {
    padding: 0.5rem 2rem;
}
.group {
    margin: 1rem;
}
.legend {
    color: $black;
    font-weight: bold;
}
