@import "../../../layout/styles/default_settings";

.textInput {
  & + .textInput {
    margin-top: 1rem;
  }
  .validationHelp {
    color: $errorRed;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
}
.legend {
  color: $black;
  font-weight: bold;
}

/* Base form input wrapper */
.formInput {
  display: block;
  margin: 1em 0;
  position: relative; // Contain help menus that are absolute positioned.
}

/* Group of form input wrappers */
.formInputGroup {
  display: flex;
  margin: 1em -0.5em;

  .formInput {
    flex: 1 1 50%;
    margin: 0 0.5em;
  }
}

/* Placeholder for disabled input */
.formInputDisabled {
  font-weight: normal;
  margin: 0.5em 0 0;
}

/* Input helper text */
.formInputMeta {
  font-size: 0.8em;
  margin: 0.25em 0 1.5em;
  text-align: right;
  font-weight: normal;

  a {
    text-decoration: underline;
    color: $gray3;
  }
}

label {
  position: relative; // Contain child help menus that are absolute positioned.
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.2;
  display: block;
  margin: 0 0 0.2em;
  color: $black;

  /* When the label is the error wrapper (like for checkboxes) */
  &.error {
    padding: 0.5em;
  }
}

input {
  width: 100%;
  height: 3.75em;
  margin-top: 0.25em;
  padding: 0 1em;
  border: 1px solid $borderGray;
  font-size: 1em;
  color: $gray1;
}

/* Default text color for inputs */
input:valid {
  color: $gray1;
}

/* Error color for inputs with invalid values as determined by the user's browser */
input:invalid {
  color: $errorRed;
}

/* Read-only inputs */
input[readonly],
input[readonly="readonly"] {
  color: $gray9;
}
