@import "../../layout/styles/default_settings";

.root {
  flex: 1;
  background: lighten(desaturate($primary, 40%), 55%);
  padding: 0 2rem 2rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 20rem;
  height: 15rem;
}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 2px;
  font-size: 1.2rem;
  color: $primary;
}

.row {
  display: flex;
  justify-content: space-between;
  background: rgba(white, 0.5);
  padding: 1rem;
  margin-bottom: 2px;
  font-size: 1rem;
  text-decoration: none;
  color: $gray8;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background: rgba(white, 0.5);
  }
  &:last-child {
    margin: 0;
  }
}

.error {
  color: $errorRed;
  font-weight: bold;
}

.listMessage {
  position: relative;
  font-size: 1.2rem;
  text-align: center;
  color: $gray6;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  font-style: italic;
}
