@import "../../layout/styles/default_settings";
@import "./userMenu";
@import "./topBar";
@import "./userInitials";

.portalBranding {
  display: inline-block;
  img {
    width: 100%;
  }
}

.barsContainer {
  padding: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  border-right: solid 1px $white;
}

.bars {
  font-size: 1rem;
  color: $black;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  opacity: 0.4;
}

.navigation {
  position: absolute;
  bottom: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5rem;
}

.App-header {
  background-color: $gray2;
  height: 2rem;
  color: $white;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App-title {
  font-size: 14.4vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.3);
}

.App-intro {
  font-size: large;
}

/* Flyout panels in topBar */
.topBar .js-flyoutPanel {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 10rem;
  background-color: $white;
  filter: drop-shadow(0 0.125em 0.1875em rgba(0, 0, 0, 0.3));
  border-top: 0.3125em solid $secondary;

  /* Animated State */
  transition: 200ms all;
  transform: translateY(-1rem);

  &.js-show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  &::after {
    position: absolute;
    right: 0.5rem;
    top: calc(
      -0.8125rem + 1px
    ); // triangle + top border, adjust by 1px for Firefox
    display: block;
    width: 0;
    height: 0;
    content: "";
    transition: all 0s ease;
    pointer-events: none;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid $secondary;
    border-left: 0.5em solid transparent;
  }

  &.right {
    right: auto;
    left: 0;

    &::after {
      right: auto;
      left: 0.5rem;
    }
  }

  li {
    border-bottom: 1px solid $borderGray;
  }
}

/* Flyout panels in overlayMenu  */
.overlayMenu .js-flyoutPanel {
  background-color: rgba(255, 255, 255, 0.4);
  height: 0;

  &.js-show {
    height: auto;
  }

  li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

html.pageLoaded .js-flyoutPanel {
  display: block;
}
