@import "../../layout/styles/default_settings";

.portalBranding {
  display: inline-block;
  img {
    width: 100%;
  }
}

.branding {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms;
  height: 50%;

  &:hover {
    opacity: 0.8;
    background: rgba($white, 0.6);
  }

  img {
    width: auto;
    height: 100%;
    display: inline-block;
  }
}

.root {
  position: fixed;
  background: lighten($primary, 50%);
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $primary;
  font-size: 2.5em;
  // text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  white-space: nowrap;
  height: calc(#{$topBarHeight + $subBarHeight});
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
