@import "../../layout/styles/default_settings";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  height: 4rem;
  padding: 4rem;
  color: $white;
  font-weight: 100;
}
